<h1> This is Where You Edit Your Courses</h1>



    <br>
    <br>


<div class="flex">
  <div></div>
  <div>
    <%= form_for @course  do |f| %>
     <h3> Course Name </h3>
      <%= f.text_field :course_name %>
       <h3> Course Hours </h3>
      <%= f.text_field :hours %>


      <%= f.submit "Update" %>
    <% end %>
  </div>
  <div></div>
</div>