<h1> This is the course Webpage</h1>



<h1> Course Name </h1>
    <br>

    <br>
    <br>
<h1> Course Hours</h1>
    <br>

    <br>
    <br>
<%= form_for @new_course, html: {class: "course_form"} do |f| %>
    <%= f.text_field :course_name %>
    <%= f.text_field :hours %>
    <%= f.submit "Create" %>
<% end %>