

 body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
      float:center;
      margin-left:100px;
    }



.topbar{
    height:150px;
    width: 100%;
    font-size: 40px;
    color: white;
    background-color: #231E20;
}
.cont{
    width: 800px
    height: 700px;
    margin-bottom: 70px;
    margin-right: 40px;
    margin-left: 40px;
    color: red;
}

.table{

    margin-top:25px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;


}
footer{
    height:100px;
    width:100%;
    color: maroon;
    background-color:black;
    position:absolute;
    margin-bottom: 2px;
}

.ui.stacked.secondary.segment{
    width: 500px;
}
.ui.aligned.grid {
    width: 500px;
    float: center;
}
#logo{
    width: 150px;
    height: 150px;
    float:left;
    display: inline-block;
}
#header{
    float:right;
    display: inline-block;
    font-size: 40px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
