// Place all the styles related to the course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table{
    width: 800px;
    height: 700px;
    display:block;
    margin-left: 40px;
    margin-right: 40px;
    background-color: blanchedalmond;
}
