

    <div class="ui vertical pointing menu" >
    <a class="active item"  href="/" >
    Home
    </a>
    <a class="item"  href="/courses">
        Courses
    </a>
    <a class="item" href="/cohorts">
        Cohorts
    </a>
    <a class="item" href="/students" >
        Students
    </a>
    <a class="item" href ="/instructors" >
        Instructors
    </a>
    </div>

